!.vscode/*.code-snippets
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
$RECYCLE.BIN/
*$py.class
**/*.log
**/*.logs
**/*.pyc
**/__pycache__/
**/logs
*.cab
*.cfg
*.cover
*.egg
*.egg-info/
*.gql
*.lnk
*.log
*.manifest
*.mo
*.msi
*.msix
*.msm
*.msp
*.pot
*.py,cover
*.py[cod]
*.sage.py
*.so
*.spec
*.stackdump
*.vsix
*~
.*/
.Python
.Trash-*
.cache
.coverage
.coverage.*
.directory
.dmypy.json
.dockerignore
.eggs/
.env
.fuse_hidden*
.git
.gitignore
.hermes-socketio/
.history
.history/
.hypothesis/
.idea
.idea/
.installed.cfg
.ionide
.ipynb_checkpoints
.mypy_cache/
.nfs*
.nox/
.popup/
.pybuilder/
.pyre/
.pytest_cache/
.pytype/
.ropeproject
.router/
.scheduler/
.scrapy
.sms/
.spyderproject
.spyproject
.tox/
.venv
.vscode
.vscode/*
.webassets-cache
/site
Dockerfile
ENV/
MANIFEST
README.md
Thumbs.db
Thumbs.db:encryptable
[Dd]esktop.ini
__pycache__/
__pypackages__/
build/
celerybeat-schedule
celerybeat.pid
configs/config.cfg
configs/config.cfg.example
config.cfg.examples
cover/
coverage.xml
cython_debug/
db.sqlite3
db.sqlite3-journal
develop-eggs/
dist/
dmypy.json
docker-compose-with-tag.yml
docs/_build/
downloads/
eggs/
ehthumbs.db
ehthumbs_vista.db
env.bak/
env/
htmlcov/
instance/
ipython_config.py
lib/
lib64/
local_settings.py
logs
logs/
logs/*
methis_env
metis_env
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
profile_default/
sam_*.py
sam_*/
sdist/
share/python-wheels/
src/logs/*
target/
var/
venv
venv.bak/
venv/
wheels/
docs/
configs/
test/
requirements_for_test.txt
docker-compose-with-build.yml
docker-compose.yaml
doc
LICENSE
README.md
requirements.txt
requirements_for_test.txt
setup.py
test/
configs/
docs/